.country-filters {
  display: flex;
  justify-content: space-between;
  align-items: left;
  height: 55%;
  width: 100%;
  border: none;

  .name-filter {
    width: 350px;
    background-color: $White;
    border-color: $White;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #dadadad4;
    border: none;
    outline: none;
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
  }
  ::placeholder {
    position: absolute;
    color: $Dark-Gray;
    top: 30%;
  }
}
