.country-filters {
  display: flex;
  justify-content: space-between;
  align-items: left;
  height: 55%;
  width: 100%;
  border: none;

  .name-filter {
    position: relative;
    width: 350px;
    height: 100%;
    input {
      position: absolute;
      width: 350px;
      height: 40px;
      background-color: $White;
      border-color: $White;
      border-radius: 3px;
      box-shadow: 1px 1px 1px 1px #dadadad4;
      border: none;
      outline: none;
      padding-left: 50px;
      padding-right: 20px;
    }
    ::placeholder {
      position: absolute;
      color: $Dark-Gray;
      top: 30%;
    }
    .img-icon {
      position: absolute;
      width: 20px;
      height: 100%;
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}

.region-filter {
  margin-right: 2.5vw;
  padding-left: 10px;
  width: 150px;
  box-shadow: 1px 1px 1px 1px #dadadad4;
  background-color: $White;
  border-color: $White;
  border-radius: 3px;
  border: none;
  outline: none;
}
