.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 4.5rem;

  .title {
    font-weight: bold;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 600px) {
    .title {
      font-size: 1.1rem;
      font-weight: 900;
    }
  }

  @media screen and (max-width: 600px) {
    .switch {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 1rem 1rem;
  }
}
