.detail-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.div-button {
  margin-bottom: 50px;

  button {
    height: 30px;
    width: 90px;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 2px 2px #dadadad4;

    border-radius: 3px;

    &:hover {
      cursor: pointer;
    }
  }
}

.country-detail {
  display: flex;
  flex-direction: row;
  width: 100%;

  .flag-img {
    display: flex;
    flex: 1;
    justify-content: left;

    img {
      height: 50vh;
      width: 85%;
      // min-height: 300px;
    }
  }
  .description-country {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    .name-country {
      p {
        font-size: 2.6vw;
      }
    }
    .descrip {
      display: flex;
      flex-direction: row;

      .descrip2 {
        margin-left: 5vw;
      }

      p {
        font-size: 1.3vw;
        font-weight: normal;
      }
    }
    .border-country {
      display: flex;

      p {
        font-size: 1.3vw;
      }

      .border-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 0.75rem;
        gap: 0.75rem;

        .border-list_item {
          padding: 0vw 1vw;
          background-color: #ffffff00;
          box-shadow: 0px 0px 2px 2px #e6e6e6;
          border-radius: 4px;
          font-size: 1.3vw;
        }
      }
    }
  }
}
