.detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-button {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  justify-content: left;

  button {
    height: 30px;
    width: 90px;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 2px 2px #dadadad4;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
    }
  }
}

.country-detail {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;

  .flag-img {
    display: flex;

    img {
      height: 280px;
      width: 450px;
    }
  }
  .description-country {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 20px;

    .name-country {
      h1 {
        margin-bottom: 30px;

        font-size: 30px;
      }
    }
    .descrip {
      display: flex;
      flex-direction: row;

      .descrip2 {
        margin-left: 100px;
      }

      h5 {
        margin-bottom: 3px;
        font-size: 14px;
        font-weight: normal;
      }
    }
    .border-country {
      display: flex;
      align-items: center;
      margin-top: 50px;
      font-size: 18px;

      .border-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.75rem;

        .border-list_item {
          padding: 0rem 1rem;
          background-color: #ffffff00;
          box-shadow: 0px 0px 2px 2px #e6e6e6;
          border-radius: 4px;
          margin-left: 10px;
          font-size: 14px;
        }
      }
    }
  }
}
